<button {{action "incrementCounter"}}>Click Me!</button>
{{#if message}}
<div>
    {{message}}
</div>
{{/if}}
{{!--
This is helper which takes the details data returned from the server and renders it as a table
--}}
{{object-to-table block.data.details}}
